        <table border = 1>
        <thead> 
            <th>Ime</th>
            <th>Prezime</th>
            <th>Telefon</th>
            <th>Grad</th>
            <th>Adresa</th>
            <th>Zip</th>
            <th>Email</th>
        </thead>
        <tbody>
        <tr>
        <td> <h1> {{ korisnik.korisnik_ime }} </h1> </td>
        <td> <h1> {{ korisnik.korisnik_prezime }} </h1> </td>
        <td> <h1> {{ korisnik.korisnik_telefon }} </h1> </td>
        <td> <h1> {{ korisnik.korisnik_grad }} </h1> </td>
        <td> <h1> {{ korisnik.korisnik_adresa }} </h1> </td>
        <td> <h1> {{ korisnik.korisnik_zip }} </h1> </td>
        <td> <h1> {{ nalog.nalog_email }} </h1> </td>
        </tr>
        </tbody>
        </table>
            <table border = 1>
                <thead>
                        <th> Ime proizvoda </th>
                        <th> Cena proizvoda </th>
                        <th> Tip proizvoda </th>
                        <th> Broj narudzbine </th>
                        <th> Datum narudzbine </th>
                        <th> Datum slanja </th>
                </thead>
              <tbody>
              {% for product in narudzbina %}
              {% if product.proizvod_ime != "" %}
              <tr>
                <td> {{ product.proizvod_ime }} </td>
                <td> {{ product.proizvod_cena }} </td>
                <td> {{ product.proizvod_tip }} </td>
                {% if product.narudzbina_broj != 0 %} <td> {{ product.narudzbina_broj }} </td> {% else %} <td> Potvrdi </td> {% endif %}
                <td> {{ product.narudzbina_datum }} </td>
                <td> {{ product.narudzbina_datum_slanja }} </td>
              </tr>
              {% endif %}
             {% endfor %}
            
            </tbody>
            </table>