{% extends 'Admin/admin_panel.twig' %}

{% block newBlock %} 
 {% for item in result %}


       
            {% if item.nalog_korisnik_tip_id == 3 %}
            <div class="admin-show-user-card">
            Korisnik : 
            <h2> Ime : {{ item.korisnik_ime }}</h2>
            <h3> Prezime : {{ item.korisnik_prezime }} </h3>
            <a href="/user/admin/prikazikorisnika/{{ item.id }}"> Pregledaj </a>
            </div>
            {% elseif item.nalog_korisnik_tip_id == 2 %}
            <div class="admin-show-user-card">
            Manager : 
            <h2> Ime : {{ item.korisnik_ime }}</h2>
            <h3> Prezime : {{ item.korisnik_prezime }} </h3>
            <a href="/user/admin/prikazikorisnika/{{ item.id }}"> Pregledaj </a>
            </div>
            {% endif %}
     {% endfor %}

{% endblock %}